
*
{
    box-sizing: border-box;
    background-color: whitesmoke;
}

.container{
    padding:5%;
}
.wrapper{
    border : 1px solid #6ACA9A;
    border-radius: 5px;
    width: 50%;
    margin: auto;
    padding: 5%;
}

input[type=email],input[type=password]
{
    border: none;
    border-bottom: 1px solid black;
    flex: 2;
    height: 25px;
    outline: none;
    
}
label{
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;
}
.form-group
{
    display: flex;
    justify-content: flex-end;
    margin:5% 0;
}

input[type=email]:focus,input[type=password]:focus
{
    border-bottom: 1px #33BFCC solid;
}

.btn
{
    padding:2%;
    background-color: #43BC7F;
    border: none;
    font-family: sans-serif;
    color:white;
    font-weight: bold;
    width:17%
}

.btn:hover
{
    cursor: pointer;
    background-color: #69C998;
    letter-spacing: 2px;
}

.link
{
    font-size: 13px;
    color: #3372CC;
}
#formRegister{
    display: none;
}